# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2a642b65e23ddaca4d807a78d51706c0b792f3220a342db27bf449d190f4d97bd595e53d4c4948bcfc3496c64541e4d930a5f270abf837cf20f5fcd978126f17

test:
  secret_key_base: ad6b406bbcdaf0a0701c99c714535f3b7a681fef5a9534ab4ae0ab82ae508387c097406519f7deec3407d119fba743e57e22c8d0772e84e165398a6a24bfd2fd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
